.container-columns {
    display: flex;
    height: 100vh;
    
    
  }
  
  .column {
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 1px solid rgb(125 211 252);
    padding-top: 60px;
    width: 100%;
  }
  
  .divider {
    width: 10px;
    cursor: ew-resize;
    background-color: rgb(224 242 254);
  }
  
  