@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: lightcyan;
}

.dark-layout-box{
  padding: 12px 12px;
  border-radius: 15px;
  /* box-shadow: rgba(201, 201, 201, 0.2) 0px 2px 8px 0px; */

}


